h1, h2, h3, h4, h5 {color:red}
a:visited{color:brown}
a:active{color: green}
a:hover{color: yellow}
a{color: black}
body{background-color: #FFF8DC;color:black}
p{text-align: left; font-family:arial}
.center{text-align: center}
body{background-image: url(logo.png);
	background-repeat:no-repeat


}